#search{
    width: 50 px;
    padding-left: 50px;
    margin-top: 20px;
    text-align: center;
}
main{
    margin-top: 50px;
    padding: 20px;
    overflow: hidden;
}
button{
    background-color: aqua;
    color: black;
    border-radius: 10px;
   border: none;
    
   
    
}